" IDEA Settings
set idearefactormode=keep
set ideajoin
set number
set relativenumber
set ignorecase
set smartcase
set incsearch
set scrolloff=10

" IDEA Set Handlers
sethandler a:vim
sethandler <C-e> n:ide

" Remap leader
let mapleader = " "

" IDEA Plugins
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/argtextobj.vim'
Plug 'machakann/vim-highlightedyank'
Plug 'terryma/vim-multiple-cursors'

" Line text object
xnoremap il g_o0
xnoremap al $o0

" Buffer text object
xnoremap i% GoggV

" Navigation (Methods)
nmap <A-j> <Action>(MethodDown)
nmap <A-k> <Action>(MethodUp)

" Navigation (GO TO ...)
nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gs <Action>(GotoSuperMethod)
nmap gt <Action>(GotoTest)
nmap gtt <Action>(GotoTypeDeclaration)
nmap gu <Action>(FindUsages)
nmap gf <Action>(MethodUp)

" Back/Forward history
nmap <C-O> <Action>(Back)
nmap <C-I> <Action>(Forward)
nmap <C-W>w <Action>(Diff.FocusOppositePane)

" Remap Override & Implement methods
nmap <leader>mo <Action>(OverrideMethods)
nmap <leader>mi <Action>(ImplementMethods)

" Run & Debug
nmap ,v <Action>(ChooseRunConfiguration)
nmap ,r <Action>(ContextRun)
nmap ,d <Action>(ContextDebug)
nmap ,a <Action>(Rerun)
nmap ,f <Action>(RerunFailedTests)
nmap ,b <Action>(ToggleLineBreakpoint)
nmap ,h <Action>(ForceRunToCursor)
nmap ,m <Action>(XDebugger.MuteBreakpoints)
nmap ,, <Action>(StepOver)
nmap ,i <Action>(StepInto)
nmap ,o <Action>(StepOut)
nmap ,c <Action>(Resume)
nmap ,e <Action>(EvaluateExpression)
vmap ,e <Action>(EvaluateExpression)
nmap ,q <Action>(QuickEvaluateExpression)
vmap ,q <Action>(QuickEvaluateExpression)
nmap ,s <Action>(Stop)
nmap ,l <Action>(ViewBreakpoints)

" Next/Prev
nmap [e <Action>(GotoPreviousError)
nmap ]e <Action>(GotoNextError)
" Navigation Changes (Main editor window)
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)
" Navigation Changes (Diff Tool window)
nmap <Up> <Action>(PreviousDiff)
nmap <Down> <Action>(NextDiff)
nmap <Right> <Action>(Diff.NextChange)
nmap <Left> <Action>(Diff.PrevChange)

" VCS
nmap <leader>vo <Action>(Vcs.QuickListPopupAction)
nmap <leader>va <Action>(Annotate)
vmap <leader>vh <Action>(Vcs.ShowHistoryForBlock)
nmap <leader>vcb <Action>(Git.CompareWithBranch)
nmap <leader>vv <Action>(Git.Branches)
nmap <leader>vu <Action>(Vcs.UpdateProject)
nmap <leader>vf <Action>(Git.Fetch)
nmap <leader>vp <Action>(Vcs.Push)

" GoTo
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fk <Action>(GotoClass)
nmap <leader>fa <Action>(GotoAction)
nmap <leader>fp <Action>(ManageRecentProjects)
nmap <leader>fg <Action>(TextSearchAction)
nmap <leader>ft <Action>(TextSearchAction)

" Code
nmap == <Action>(ReformatCode)
vmap == <Action>(ReformatCode)
nmap <leader>/ <Action>(Find)
nmap <leader>? <Action>(Replace)
vmap <leader>? <Action>(Replace)
nmap <S-k> <Action>(ParameterInfo)
nmap <A-p> <Action>(ParameterInfo)

" Refactoring & Introduce
nmap <leader>rr <Action>(Refactorings.QuickListPopupAction)
vmap <leader>rr <Action>(Refactorings.QuickListPopupAction)
nmap <leader>ru <Action>(Unwrap)
vmap <leader>ru <Action>(Unwrap)
nmap <leader>rs <Action>(SurroundWith)
vmap <leader>rs <Action>(SurroundWith)

nmap <leader>rm <Action>(Move)
nmap <leader>re <Action>(RenameElement)
nmap <leader>rg <Action>(Generate)
nmap <leader>rc <Action>(CopyElement)
nmap <leader>ri <Action>(Inline)

nmap <leader>nt <Action>(InsertLiveTemplate)
nmap <leader>nv <Action>(IntroduceVariable)
vmap <leader>nv <Action>(IntroduceVariable)
nmap <leader>nc <Action>(IntroduceConstant)
nmap <leader>nf <Action>(IntroduceField)
nmap <leader>np <Action>(IntroduceParameter)
nmap <leader>nfp <Action>(IntroduceFunctionalParameter)
nmap <leader>nm <Action>(ExtractMethod)
vmap <leader>nm <Action>(ExtractMethod)
nmap <leader>no <Action>(OptimizeImports)

" Select In
nmap <leader>ii <Action>(SelectIn)
nmap <leader>ie <Action>(SelectInProjectView)
nmap <leader>ic <Action>(SelectInCommitView)
nmap <leader>is <Action>(SelectInStructureView)
nmap <leader>id <Action>(sql.SelectInDatabaseView)

" Open
nmap <leader>o, <Action>(ActivateDebugToolWindow)
nmap <leader>ob <Action>(ActivateDatabaseToolWindow)
nmap <leader>od <Action>(ActivateVcsChangesToolWindow)
nmap <leader>oc <Action>(ActivateCommitToolWindow)
nmap <leader>oe <Action>(ActivateProjectToolWindow)
nmap <leader>ow <Action>(ActivateProblemsViewToolWindow)
nmap <leader>of <Action>(ActivateFindToolWindow)
nmap <leader>og <Action>(ActivateGradleToolWindow)
nmap <leader>oh <Action>(TypeHierarchy)
nmap <leader>oi <Action>(QuickImplementations)
nmap <leader>on <Action>(ActivateNotificationsToolWindow)
nmap <leader>op <Action>(ActivateProfilerToolWindow)
nmap <leader>or <Action>(ActivateRunToolWindow)
nmap <leader>os <Action>(ActivateStructureToolWindow)
nmap <leader>ot <Action>(ActivateTerminalToolWindow)
nmap <leader>ov <Action>(ActivateVersionControlToolWindow)

" Window
nmap <Tab> <Action>(JumpToLastWindow)
nmap <S-Tab> <Action>(HideActiveWindow)
nmap <leader>wo <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>wh <Action>(HideAllWindows)
nmap <leader>wd <Action>(RestoreDefaultLayout)
nmap <leader>ws <Action>(StoreDefaultLayout)
nmap <leader>wz <Action>(ToggleZenMode)
nmap <leader>wp <Action>(TogglePresentationMode)
nmap <leader>wf <Action>(ToggleFullScreen)

" Settings
nmap <leader>sde <Action>(Vcs.Diff.ShowDiffInEditorTab)
nmap <leader>sdw <Action>(Vcs.Diff.ShowDiffInNewWindow)
nmap <leader>sv <Action>(VimActions)
nmap <C-/> <Action>(OpenIdeaVimRc)
nmap <leader>ref <Action>(ExternalSystem.ProjectRefreshAction)<Action>(IdeaVim.ReloadVimRc.reload)

" Clipboard
vmap <leader>y "+y
vmap <leader>d "+d
nmap <leader>y "+y
nmap <leader>p "+p
nmap <leader>P "+P
nmap Y v$y

" PLUGINS
" Harpoon
nmap <C-h> <Action>(GotoHarpoon1)
nmap <C-j> <Action>(GotoHarpoon2)
nmap <C-k> <Action>(GotoHarpoon3)
nmap <C-l> <Action>(GotoHarpoon4)
nmap <C-;> <Action>(GotoHarpoon5)
nmap <leader><C-h> <Action>(SetHarpoon1):echo "C-H Updated"<CR>
nmap <leader><C-j> <Action>(SetHarpoon2):echo "C-J Updated"<CR>
nmap <leader><C-k> <Action>(SetHarpoon3):echo "C-K Updated"<CR>
nmap <leader><C-l> <Action>(SetHarpoon4):echo "C-l Updated"<CR>
nmap <leader><C-;> <Action>(SetHarpoon5):echo "C-; Updated"<CR>
nmap <A-e> <Action>(ShowHarpoon)
nmap <D-e> <Action>(ShowHarpoon)
" Continue
nmap <C-g> <Action>(continue.focusContinueInput)
vmap <C-g> <Action>(continue.focusContinueInput)
" ADOC
nmap <A-w> <Action>(org.asciidoc.intellij.actions.asciidoc.ToggleSoftWrapsAction)
nmap <D-w> <Action>(org.asciidoc.intellij.actions.asciidoc.ToggleSoftWrapsAction)
