[core]
    excludesfile = ~/.config/git/.gitignore
    editor = nvim
    autocrlf = false
[include]
    path = ~/.config/git/.gitconfig
[user]
    email = dmitry.surin@gmail.com
    name = Dmitry Surin
[color "diff"]
    meta = bold yellow
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
