[core]
    excludesfile = ~/.config/git/.gitignore
    editor = nvim
	autocrlf = true
[include]
    path = ~/.config/git/.gitconfig
[user]
    email = dmitry.surin@gmail.com
    name = Dmitry Surin
[color "diff"]
    meta = bold yellow
[safe]
	directory = C:/Users/dmitr/Development/work/alfabank
	directory = C:/Users/dmitr/Development/work/alfabank/android-open-api-generator
	directory = C:/Users/dmitr/Development/work/alfabank/android-open-api-generator/abm-openapi-specs-generate
	directory = C:/Users/dmitr/Development/work/alfabank/android-open-api-generator/abm-openapi-specs-generated
	directory = C:/Users/dmitr/Development/work/alfabank/abm-middle-thrift-tests
	directory = C:/Users/dmitr/Development/work/alfabank/abm-settings
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
