[core]
    excludesfile = ~/.config/git/.gitignore
    editor = nvim
    autocrlf = false
[include]
    path = ~/.config/git/.gitconfig
[user]
    email = dmitry.surin@gmail.com
    name = Dmitry Surin
[color "diff"]
    meta = bold yellow
[safe]
	directory = C:/Users/bedware/software/work/alfabank/nib/corp-loyalty-api
	directory = C:/Users/bedware/software/work/alfabank/abm/abm-openapi-specs
	directory = C:/Users/bedware/software/work/alfabank/abm/abm-front-loyalty-api
	directory = C:/Users/bedware/software/work/alfabank/abm/abm-settings
	directory = C:/Users/bedware/software/work/alfabank/abm/abm-gateway-api
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
