" IDEA Settings
set idearefactormode=keep
set ideajoin
set number
set relativenumber
set ignorecase
set smartcase
set incsearch
set scrolloff=10

" IDEA Set Handlers
sethandler a:vim
sethandler <S-Enter> v-i:ide
sethandler <A-D> a:ide
sethandler <A-S-D> a:ide
sethandler <A-S-J> a:ide
sethandler <A-C-J> a:ide
sethandler <C-B> a:ide
sethandler <C-E> a:ide
sethandler <C-F> a:ide
sethandler <C-J> a:ide
sethandler <C-M> a:ide
sethandler <C-N> n-v:ide
sethandler <C-P> a:ide
sethandler <C-Q> n-v:ide i:vim
sethandler <C-S> n:ide

" Remap leader
let mapleader = " "

" IDEA Plugins
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/argtextobj.vim'
Plug 'machakann/vim-highlightedyank'
Plug 'terryma/vim-multiple-cursors'

" Disabling things
map <Up> <nop>
map <Down> <nop>
map <Left> <nop>
map <Right> <nop>
map <Space> <nop>

" Line text object
xnoremap il g_o0
xnoremap al $o0

" Buffer text object
xnoremap i% GoggV

" Navigation (Methods)
nmap <A-j> <Action>(MethodDown)
nmap <A-k> <Action>(MethodUp)

" Navigation (GO TO ...)
nmap gd <Action>(GotoDeclaration)
" nnoremap ge `.<CR>
nmap ge <Action>(JumpToLastChange)
nmap gi <Action>(GotoImplementation)
nmap gs <Action>(GotoSuperMethod)
nmap gt <Action>(GotoTest)
nmap gr <Action>(GotoTypeDeclaration)
nmap gu <Action>(FindUsages)
nmap gf <Action>(MethodDown)<Action>(MethodUp)
nmap gh :1<CR><Action>(MethodDown)

" Back/Forward history
nmap <C-O> <Action>(Back)
nmap <C-I> <Action>(Forward)
nmap <C-W>w <Action>(Diff.FocusOppositePane)

" Remap Override & Implement methods
nmap <A-O> <Action>(OverrideMethods)
nmap <A-I> <Action>(ImplementMethods)
imap <A-O> <Action>(OverrideMethods)
imap <A-I> <Action>(ImplementMethods)

" Run & Debug
nmap ,v <Action>(ChooseRunConfiguration)
nmap ,r <Action>(ContextRun)
nmap ,d <Action>(ContextDebug)
nmap ,a <Action>(Rerun)
nmap ,f <Action>(RerunFailedTests)
nmap ,b <Action>(ToggleLineBreakpoint)
nmap ,h <Action>(ForceRunToCursor)
nmap ,m <Action>(XDebugger.MuteBreakpoints)
nmap ,, <Action>(StepOver)
nmap ,i <Action>(StepInto)
nmap ,o <Action>(StepOut)
nmap ,c <Action>(Resume)
nmap ,e <Action>(EvaluateExpression)
vmap ,e <Action>(EvaluateExpression)
nmap ,q <Action>(QuickEvaluateExpression)
vmap ,q <Action>(QuickEvaluateExpression)
nmap ,s <Action>(Stop)
nmap ,l <Action>(ViewBreakpoints)

" VCS
nmap <leader>vo <Action>(Vcs.QuickListPopupAction)
nmap <leader>va <Action>(Annotate)
" Navigation Changes (Main editor window)
nmap <S-Up> <Action>(VcsShowPrevChangeMarker)
nmap <S-Down> <Action>(VcsShowNextChangeMarker)
" Navigation Changes (Diff Tool window)
nmap <Up> <Action>(PreviousDiff)
nmap <Down> <Action>(NextDiff)
nmap <Left> <Action>(Diff.NextChange)
nmap <Right> <Action>(Diff.PrevChange)
" History
nmap <leader>vsh <Action>(Vcs.ShowHistoryForBlock)
vmap <leader>vsh <Action>(Vcs.ShowHistoryForBlock)
" Branches
nmap <leader>vcb <Action>(Git.CompareWithBranch)
nmap <leader>vcs <Action>(Compare.Selected)
nmap <leader>vcr <Action>(Show.Current.Revision)
nmap <leader>vv <Action>(Git.Branches)
nmap <leader>vr <Action>(Vcs.RollbackChangedLines)
" Actions with remote
nmap <leader>vu <Action>(Vcs.UpdateProject)
nmap <leader>vf <Action>(Git.Fetch)
nmap <leader>vp <Action>(Vcs.Push)

" GoTo
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fk <Action>(GotoClass)
nmap <leader>fa <Action>(GotoAction)
nmap <leader>fp <Action>(ManageRecentProjects)
nmap <leader>fg <Action>(TextSearchAction)
nmap <leader>ft <Action>(TextSearchAction)

" Code
nmap <leader>fif <Action>(FindInPath)
nmap <leader>mvn <Action>(com.jetbrains.packagesearch.intellij.plugin.actions.AddDependencyAction)
nmap == <Action>(ReformatCode)
vmap == <Action>(ReformatCode)
nmap <leader>o <Action>(OptimizeImports)
nmap <leader>h <Action>(HighlightUsagesInFile)
vmap <leader>h <Action>(HighlightUsagesInFile)
nmap <leader>/ <Action>(Find)
nmap <leader>? <Action>(Replace)
vmap <leader>? <Action>(Replace)
" nmap / <Action>(Find)
" vmap / <Action>(Find)
nnoremap <leader>[ i <ESC>l
nnoremap <leader>] a <ESC>h
vmap <A-S-D> <Action>(SelectAllOccurrences)
nmap <S-k> <Action>(ParameterInfo)
nmap <A-p> <Action>(ParameterInfo)

" Refactoring & Introduce
nmap <leader>ru <Action>(Unwrap)
vmap <leader>ru <Action>(Unwrap)
nmap <leader>rr <Action>(Refactorings.QuickListPopupAction)
nmap <leader>rm <Action>(Move)
vmap <leader>rr <Action>(Refactorings.QuickListPopupAction)
nmap <leader>re <Action>(RenameElement)
nmap <leader>rs <Action>(SurroundWith)
vmap <leader>rs <Action>(SurroundWith)
nmap <leader>rg <Action>(Generate)
nmap <leader>rcc <Action>(CopyElement)
nmap <leader>ri <Action>(Inline)
nmap <leader>rt <Action>(InsertLiveTemplate)

nmap <leader>iv <Action>(IntroduceVariable)
vmap <leader>iv <Action>(IntroduceVariable)
nmap <leader>ic <Action>(IntroduceConstant)
nmap <leader>if <Action>(IntroduceField)
nmap <leader>ip <Action>(IntroduceParameter)
nmap <leader>il <Action>(IntroduceFunctionalParameter)
nmap <leader>im <Action>(ExtractMethod)
vmap <leader>im <Action>(ExtractMethod)

" External
nmap <leader>vis <Action>(VimActions)
nmap <leader>vir <Action>(IdeaVim.ReloadVimRc.reload)

" Building tools
nmap <leader>ref <Action>(ExternalSystem.ProjectRefreshAction)

" Bookmarks
nmap <leader>bb <Action>(ToggleBookmark)
nmap <leader>bl <Action>(ShowBookmarks)

" Compile
nmap <leader>cf <Action>(CompileFile)

" Task
nmap <leader>tn <Action>(tasks.goto)
nmap <leader>ts <Action>(tasks.switch)
nmap <leader>tc <Action>(tasks.close)
nmap <leader>te <Action>(tasks.edit)
nmap <leader>tl <Action>(tasks.create.changelist)
nmap <leader>td <Action>(tasks.show.task.description)
nmap <leader>tb <Action>(tasks.open.in.browser)

" Show
nmap <leader>q <Action>(QuickImplementations)
nmap <leader>sbc <Action>(ByteCodeViewer)
nmap <leader>sbk <Action>(ActivateKotlinBytecodeToolWindow)
nmap <leader>3 <Action>(ActivateSonarQubeforIDEToolWindow)
nmap <leader>2 <Action>(ActivateProblemsViewToolWindow)
nmap <leader>sil <Action>(SelectIn)
nmap <leader>c <Action>(SelectInCommitView)
nmap <leader>sip <Action>(SelectInProjectView)
nmap <leader>e <Action>(SelectInProjectView)
nmap <leader>sid <Action>(sql.SelectInDatabaseView)
nmap <leader>siw <Action>(Vcs.Diff.ShowDiffInNewWindow)
nmap <leader>sit <Action>(Vcs.Diff.ShowDiffInEditorTab)
nmap <leader>sd <Action>(ToggleRenderedDocPresentationForAll)
nmap <leader>sh <Action>(TypeHierarchy)
nmap <leader>ss <Action>(FileStructurePopup)

" Window
nmap <Tab> <Action>(JumpToLastWindow)
nmap <S-Tab> <Action>(HideActiveWindow)
nmap <leader>wo <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>wh <Action>(HideAllWindows)
nmap <leader>wd <Action>(RestoreDefaultLayout)
nmap <leader>wz <Action>(ToggleZenMode)
nmap <leader>wp <Action>(TogglePresentationMode)
nmap <leader>wf <Action>(ToggleFullScreen)

" nmap <leader><leader><leader> <Action>(Switcher)
nmap <leader><leader>p <Action>(ActivateProjectToolWindow)
nmap <leader><leader>2 <Action>(ActivateProblemsViewToolWindow)
nmap <leader><leader>c <Action>(ActivateCommitToolWindow)
nmap <leader><leader>C <Action>(ActivateVcsChangesToolWindow)
nmap <leader><leader>v <Action>(ActivateVersionControlToolWindow)
nmap <leader><leader>, <Action>(ActivateDebugToolWindow)
nmap <leader><leader>r <Action>(ActivateRunToolWindow)
nmap <leader><leader>d <Action>(ActivateDatabaseToolWindow)
nmap <leader><leader>D <Action>(ActivateDependenciesToolWindow)
nmap <leader><leader>i <Action>(ActivateServicesToolWindow)
nmap <leader><leader>s <Action>(ActivateStructureToolWindow)
nmap <leader><leader>t <Action>(ActivateTerminalToolWindow)
nmap <leader><leader>P <Action>(ActivateProfilerToolWindow)
nmap <leader><leader>f <Action>(ActivateFindToolWindow)
nmap <leader><leader>y <Action>(ActivateYouTrackToolWindow)
nmap <leader><leader>n <Action>(ActivateNotificationsToolWindow)

" Swapping lines [Insert mode]
inoremap <C-j> <Esc>:m +1<CR>gi
inoremap <C-k> <Esc>:m -2<CR>gi

" Swapping statements [Normal mode]
" nmap <C-j> <Action>(MoveStatementDown)
" nmap <C-k> <Action>(MoveStatementUp)

" System clipboard
vnoremap <leader>y "+y
vnoremap <leader>d "+d
nnoremap <leader>y "+y
nnoremap <leader>p "+p
nnoremap <leader>P "+P
nnoremap Y v$y

" PLUGINS
" Harpoon
nmap <A-e> <Action>(ShowHarpoon)
nmap <C-h> <Action>(GotoHarpoon1)
nmap <C-j> <Action>(GotoHarpoon2)
nmap <C-k> <Action>(GotoHarpoon3)
nmap <C-l> <Action>(GotoHarpoon4)
nmap <C-;> <Action>(GotoHarpoon5)
nmap <A-a> <Action>(AddToHarpoon):echo "File added"<CR>
nmap <leader><C-h> <Action>(SetHarpoon1)
nmap <leader><C-j> <Action>(SetHarpoon2)
nmap <leader><C-k> <Action>(SetHarpoon3)
nmap <leader><C-l> <Action>(SetHarpoon4)
nmap <leader><C-;> <Action>(SetHarpoon5)
" Continue
nmap <C-g> <Action>(continue.focusContinueInput)
vmap <C-g> <Action>(continue.focusContinueInput)
" AsciiDoc
map <A-1> <Action>(org.asciidoc.intellij.actions.editorlayout.EditorOnlyLayoutChangeAction)
map <A-2> <Action>(org.asciidoc.intellij.actions.editorlayout.EditorAndPreviewLayoutChangeAction)
map <A-3> <Action>(org.asciidoc.intellij.actions.editorlayout.PreviewOnlyLayoutChangeAction)
map <A-w> <Action>(org.asciidoc.intellij.actions.asciidoc.ToggleSoftWrapsAction)
